# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# Uploads
uploads/
*.pdf

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env.python

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/
*.log